@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background-color: #A69E86;
    margin:0;
    font-weight: normal;
    font-style: normal;
    font-size: 20px; 
}
.hero{
    background-image: url(../fundo2.jpg.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}
.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
    
}
.hero-content h1{
    font-size: 46px; 
}

.hero-content p{
    background-color: #A69E86;
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
}

.hero nav ul{
    text-align: right;
    margin: 20px 50px 0 0;
}
.hero nav li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}
.hero nav a{
    background:rgb(166, 158, 134);
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 6px;
}
.hero nav a:hover{
    background-color:rgb(115, 92, 72);
    transform: scale(1.3);
}

main{
    width: 80%;
    margin: auto;
}
.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-section-hero{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}

.content-header{
    border-bottom: solid 2px #ccc;
    padding: 10px;
    background: rgb(255, 255, 255);

}

.content-header h2{
    margin: 0;
}
.principal{
    padding: 10px;
    border-width: 30px;
}

.card{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
    padding: 20px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}

.card:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.card p{
    color: #9799a1;
    font-size: 18px;
}
.image{
    float: right;
    max-width: 64px;
    max-height: 64px;
}

.card1{
    border-left: 3px solid #735C48;
}

.card2{
    border-left: 3px solid #274040;
}

.card3{
    border-left: 3px solid #735C48;
}